#app {
  max-width: 1200px;
  margin: 0 auto;
}

#cal-heatmap {
  display: inline-block;
}

#heatmap {
  display: none;
  text-align: center;
}

.extra {
  max-width: 1200px !important;
  white-space: pre-wrap;
}

#header {
  padding-top: 100px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #f9f8e8;
}

.h4 {
  text-align: center;
  color: #777;
  margin-bottom: 10px;
}

.dimmer {
  margin-top: 28px;
}

.out {
  margin-top: 100px;
  font-size: 30px;
}

.desc {
  margin-bottom: 5px;
}
